.button {
  border-radius: 100px;
}
::selection {
  background: rgba(87, 43, 29, 0.9);
  color: white;
}
::-moz-selection {
  background: rgba(87, 43, 29, 0.9);
  color: white;
}
html, input, textarea {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
html {
  background-color: #F6F6F5;
}
.fancy {
  font-family: 'Tangerine', cursive;
}
.fancy h1 {
  font-size: 5em;
}
h5 {
  font-size: 2.4rem !important;
}
.shadow {
  box-shadow: 0 -20px 20px -20px rgba(115, 115, 115, 0.75);
}
html {
  font-size: 45%;
}
input, textarea {
  letter-spacing: 1px;
}
h1.section-heading {
  font-weight:700;
}
h4.section-description {
  font-weight: 700;
}
.right-align {
  text-align: right;
  margin: 0 auto;
}
.show-when-large {
  display: block;
  margin-left: -50px;
}
.eight.columns {
  margin-left: -9vw;
  margin-top: 0.5em;
}
.text-shadow {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.optimize-for-reading p {
  text-align: left;
  font-size: 1.8rem;
  line-height: 1.9;
}
.optimize-for-reading {
  max-width: 829px;
  text-align: center;
  margin: 0 auto;
}
.optimize-for-reading h4 {
  text-align: left;
  font-weight: 600;
  margin-top: 4rem;
  margin-bottom: 2rem;
}
.optimize-for-reading .section-description {
  font-style: italic;
  margin-bottom: 4rem;
}
.row .optimize-for-reading {
  margin-bottom: 4rem;
}
.dark-theme h4, .light-theme h4 {
  font-weight: 600;
}
.dark-theme h1, .light-theme h4 {
  margin-bottom: 2.5rem;
}
.light-theme .column {
  text-align: left;
}
.light-theme h4 {
  text-align: center;
}
td:nth-last-child(1) {
  text-align: right;
}
a {
  text-decoration: none;
  font-weight: 600;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}
a, a:link, a:visited {
  text-decoration: underline;
  color: #53aaed;
}
input,
textarea {
    letter-spacing: 1px;
}
header.section {
  padding-bottom: 15rem;
  padding-top: 15rem;
}
hr {
  border-color: rgba(0, 0, 0, 0.05);
}
a:hover {
  color: #79b7e7;
}
.dark-theme .card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2.5em;
  border-radius: 1em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
  background-color: RGBA(244,246,247,0.2);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.light-theme .card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2.5em;
  border-radius: 1em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
  background: RGBA(238,238,238,0.9);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.dark-theme h1, .light-theme h1 {
  margin-bottom: 4rem;
}
.row .optimize-for-reading {
  margin-top: 5rem;
}
iframe {
  border: 0;
  border-radius: 1em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
}
form {
  color: #222222;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 2.5em;
  border-radius: 1em;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
  background: RGBA(238,238,238,0.9);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.add-to-calendar-checkbox:checked~a {
  width: 100% !important;
}
#not-attend {
  display: none;
  margin-top: 1rem;
}
textarea {
  max-width: 100%;
  min-height:10em;
}
input:disabled,
textarea:disabled {
  background: #dddddd;
}
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  background-color: #53aaed;
  border-color: #53aaed;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
}
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  background-color: #79b7e7;
  border-color: #79b7e7;
}
input[type="email"]:focus,
input[type="name"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
  border: 1px solid #79b7e7;
  outline: 0;
}
input[type=submit][disabled=disabled],
button[disabled], html input[disabled],
input:disabled, textarea:disabled {
  background-color: #aaaaaa !important;
  border-color: #aaaaaa !important;
}
path {
  fill: #1da1f2;
  -webkit-transition: fill .2s linear;
  -moz-transition: fill .2s linear;
  -ms-transition: fill .2s linear;
  -o-transition: fill .2s linear;
  transition: fill .2s linear;
}
path:hover {
  fill: #00CBFF;
}
.card.column {
  margin-top:2rem;
  margin-bottom:2rem;
}
.section {
  padding: 8rem 0 7rem;
  text-align: center;
}
.section-heading,
.section-description {
  margin-bottom: 1.2rem;
}
#our-story-section {
  padding: 4rem 0 7rem
}
.card p {
  font-size: 1.1em;
  margin-bottom: 5rem;
}
.card iframe {
  text-align: center;
  width: 100%;
}
.card img {
  text-align: center;
  width: 100%;
}
nav {
  display: block;
  width: 100%;
  height: 6.5rem;
  text-align: center;
  background: #EEEEEE;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 99;
  position: relative;
  height: auto;
}
nav > .container {
  width: 100%;
  max-width: 829px;
}
nav ul {
  list-style: none;
  margin-bottom: 0;
}
nav ul li {
  position: relative;
  margin-bottom: 0;
  display: inline-block;
  width: 49%;
}
nav a {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: .2rem;
  text-decoration: none;
  line-height: 5rem;
  color: #222;
}
nav ul li a:link,
nav ul li a:visited {
  color: #222;
}
nav ul li a:hover {
  color: #79b7e7;
}
ul.segmented-control {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-top:2.5em;
  overflow: hidden;
}
ul.segmented-control li {
  display:inline-block;
  margin-left: -2px;
  margin-right: -2px;
  margin-bottom:0;
}
ul.segmented-control li a {
  margin-bottom:0;
  padding-left: 2em;
  padding-right: 2em;
}
ul.segmented-control li a.button {
  background-color: white;
  border-color: #ECB549;
  color: #ECB549;
}
ul.segmented-control li a.button.active {
  background-color: #ECB549;
  border-color: transparent;
  color: white;
}
.three.columns {
  width: 47%;
  margin-left: 1.5%;
  margin-right: 1.5%;
}
.tabview .row {
  margin-top: 0vw;
}
.three.columns {
  margin-top: 4vw;
}
.left-tab {
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.right-tab {
  border-radius: 4px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.tabview .row {
  -webkit-animation: fadeEffect 0.5s;
  animation: fadeEffect 0.5s;
}
.tabview img {
  width: 100%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.tabview {
  display: none;
}
.tabview h5 {
  margin-bottom:0;
  font-weight:600;
}
.tabview h6 {
  color: #222;
  margin-bottom: 1rem;
}
.tabview .three.columns {
  background: RGBA(238,238,238,0.9);
  border-radius: 4px;
  -webkit-transition: -webkit-box-shadow 0.25s ease 0s;
  -moz-transition: -moz-box-shadow 0.25s ease 0s;
  -o-transition: -o-box-shadow 0.25s ease 0s;
  transition: box-shadow 0.25s ease 0s;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
  -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 2px 10px 0 rgba(0, 0, 0, 0.10);
}
.tabview .three.columns h5, .tabview .three.columns h6 {
  color: #222;
  -webkit-transition: color .2s linear;
  transition: color .2s linear;
}
.tabview .three.columns:hover h5, .tabview .three.columns:hover h6 {
  color: #79b7e7;
}
.tabview .three.columns:hover {
  -webkit-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.20), 0 4px 12px 0 rgba(0, 0, 0, 0.28);
  -moz-box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.20), 0 4px 12px 0 rgba(0, 0, 0, 0.28);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.20), 0 4px 12px 0 rgba(0, 0, 0, 0.28);
}
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.scroll {
  overflow-y: scroll;
  margin-top: -0.5em;
padding-left: 1.5em;
padding-right: 1.5em;
height: 205px;
z-index: -1;
-webkit-overflow-scrolling: touch;
}
.container.wide-width {
  max-width: 1150px;
  width: 100%;
}
.phones {
  position: relative;
}
.phone {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem;
}
.phone + .phone {
  display: none;
}
header {
  background-color: #464D30;
  color: #fff;
}
#rsvp-section {
  background-color: #464D30;
  background-image: url('../../images/scenary.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
}
#submit {
  margin-bottom:0;
  margin-top:1rem;
}
#rsvp-section h3 {
  font-weight:500;
}
#rsvp {
  color: #222222;
}
.value-multiplier {
  margin-bottom: .5rem;
  color: #11DFC7;
}
.value-heading {
  margin-bottom: .3rem;
}
.value-description {
  opacity: .8;
  font-weight: 300;
}
#food-choices input {
  width: 100%;
  text-align:left;
}
#food-choices select {
  width: 45%;
  text-align:left;
}
#food-choices .row {
  display: none;
}
.dark-theme {
  background: #4E563A; /* Old browsers */
  background: -moz-linear-gradient(top, #4E563A 0%, #3A402B 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #4E563A 0%,#3A402B 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #4E563A 0%,#3A402B 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4E563A', endColorstr='#3A402B',GradientType=0 ); /* IE6-9 */
  background-size: cover;
  color: #fff;
}
.dark-theme .section-description, .light-theme .section-description {
  margin-bottom: 4rem;
}
.container {
  padding: 0 20px;
}
/* Bigger than 550 */
@media (min-width: 550px) {
  html {
    font-size: 62.5%;
  }
  .section {
    padding: 12rem 0 11rem;
  }
  #our-story-section {
    padding: 4rem 0 7rem
  }
  .hero {
    padding-bottom: 12rem;
    text-align: left;
    height: 165px;
  }
  .container {
    padding: 0;
  }
  .phone {
    position: absolute;
    top: -7rem;
    right: 3rem;
    max-height: 362px;
    z-index: 3;
  }
  .phone + .phone {
    top: -6rem;
    display: block;
    max-width: 73.8%;
    right: 0;
    z-index: 2;
    max-height: 338px;
  }
  .hero-heading {
    font-size: 2.4rem;
  }
  .container.wide-width {
    width: 90%;
  }
  .modal {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 760px;
    margin-top:0;
  }
  .scroll {
    height: 350px;
  }
  .modal {
    border-radius: 1em;
  }
  .modal h4 {
    font-size: 1.75em;
    margin-top: 0.5em;
  }
  .modal h5 {
    font-size: 1.25em;
    margin-bottom: 1em;
  }
  .modal h6 {
    font-size: 0.9em;
  }
  .modal p {
    font-size: 0.9em;
    margin-bottom: 1em;
  }
  .modal .right {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 1.5em;
  }
  .modal .right {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-top-right-radius: 0;
      border-bottom-right-radius: 1.5em;
  }
  #bio .button-group {
    margin-top: 0px;
  }
}
#outdated {
  display: none;
  margin-bottom: 0;
}
@media (min-width: 750px) {
  .hero {
    height: 190px;
  }
  .hero-heading {
    font-size: 2.6rem;
  }
  .section {
    padding: 14rem 0 15rem;
  }
  #our-story-section {
    padding: 4rem 0 7rem
  }
  .hero {
    padding: 16rem 0 14rem;
  }
  .section-description {
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .phone {
    top: -14rem;
    right: 5rem;
    max-height: 510px;
  }
  .phone + .phone {
    top: -12rem;
    max-height: 472px;
  }
  .dark-theme, .light-theme {
    padding: 15rem 0 8rem;
  }
  .six.columns {
    width: 65.3333333333%;
  }
  .offset-by-three.columns {
    margin-left: 17.3333333333%;
  }
  .card.column {
    margin-top:0;
    margin-bottom:0;
  }
  .eight.columns {
    margin-left: 3vw;
    min-width: 80%;
    margin-top: 0;
    padding-bottom:100px;
  }
  nav a {
    margin-left: 1.75rem;
    margin-right: 1.75rem;
    font-size: 1.25rem;
    line-height: 6.5rem;
  }
  nav ul li {
    display: inline-block;
    width: auto;
  }
  nav {
    position: absolute;
    background: RGBA(238,238,238,0.9);
    visibility: visible;
  }
  .three.columns {
    width: 22%;
    margin-top: 0;
    margin-right:0;
  }
  .three.columns {
    margin-left: 4%;
  }
  .three.columns:first-child {
    margin-left: 0;
  }
  ul.segmented-control li a {
    padding: 0 30px;
  }
  .tabview .row {
    margin-top: 4vw;
  }
}

/* Bigger than 1000 */
@media (min-width: 1000px) {
  header.section {
    padding: 20rem 0 19rem;
  }
  .section {
    padding: 10rem 0 9rem;
  }
  #our-story-section {
    padding: 10rem 0 9rem;
  }
  .hero {
    padding: 22rem 0;
  }
  .hero-heading {
    font-size: 3.0rem;
  }
  .phone {
    top: -16rem;
    max-height: 615px;
  }
  .phone + .phone {
    top: -14rem;
    max-height: 570px;
  }
  header h1 {
    font-size: 4em;
  }
  header h4 {
    font-size: 2.5em;
  }
  .six.columns {
    width: 48%;
  }
  .offset-by-three.columns {
    margin-left: 26%;
  }
  nav a {
    margin-left: 2.4rem;
    margin-right: 2.4rem;
  }

}
@media (min-width: 1050px) {
  .show-when-large {
    display: none;
    padding-right: 0;
  }
  .eight.columns {
    margin-left: 0;
  }
  header.section {
    padding-bottom: 25vw;
    padding-top: 25vw;
  }
  header {
    font-size:1.15em;
  }
  header .eight.columns {
    width: 100%;
    margin-left: -15%;
  }
}